<header class="app-header">
  <div class="header-content">
    <div class="logo-section" (click)="router.navigate(['/offers'])">
      <h1>JobFinder</h1>
    </div>

    <nav class="nav-section">
      @if (isLoggedIn) {
        <button class="btn btn-nav" (click)="router.navigate(['/offers'])">Offres</button>
        <button class="btn btn-nav btn-fav" (click)="router.navigate(['/favorite'])">❤ Favoris</button>
        <button class="btn btn-nav" (click)="router.navigate(['/candidatures'])">Candidatures</button>
        <button class="btn btn-nav" (click)="router.navigate(['/profile'])">Profil</button>
        <button class="btn btn-nav btn-logout" (click)="logout()">Déconnexion</button>
      } @else {
        <button class="btn btn-nav" (click)="router.navigate(['/login'])">Login</button>
        <button class="btn btn-nav" (click)="router.navigate(['/register'])">Register</button>
      }
    </nav>
  </div>
</header>
